@model IEnumerable<WebApplication1.Models.Book>

@{
    ViewBag.Title = "MyBooks";
}

<h2>MyBooks</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Название
        </th>
        <th>
            Автор
        </th>
        <th>
            Год издания
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        
        <td>            
            @Html.ActionLink("Открыть", "Reading", new { id = item.Id }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
